@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";
@import "../../node_modules/bulma/sass/utilities/derived-variables";
@import "../../node_modules/bulma/bulma.sass";
@import url("https://use.typekit.net/svf0rss.css");

$dark: #282931;
$light: #ffffff;
$lightyellow: #ebf0cc;
$mustard: #c7d100;

.is-centered {
  text-align: center;
}

.is-skinny {
  padding: 10px;
}

.tag:hover {
  background-color: $lightyellow;
}

.hero.is-dark {
  background-color: $dark;
}

progress {
  margin: 10px 0;
}

blockquote {
  color: $dark;
  font-style: italic;
  font-weight: bold;
}

.progress {
  &::-webkit-progress-value {
    background-color: $mustard;
  }

  &::-moz-progress-bar {
    background-color: $mustard;
  }

  &::-ms-fill {
    background-color: $mustard;
  }
}
